.ace_clubs {
 background: url(/playingcards/ace_of_clubs.png);
}

.two_clubs {
 background: url(/playingcards/2_of_clubs.png);
}

.three_clubs {
 background: url(/playingcards/3_of_clubs.png);
}

.four_clubs {
 background: url(/playingcards/4_of_clubs.png);
}

.five_clubs {
 background: url(/playingcards/5_of_clubs.png);
}

.six_clubs {
 background: url(/playingcards/6_of_clubs.png);
}

.seven_clubs {
 background: url(/playingcards/7_of_clubs.png);
}

.eight_clubs {
 background: url(/playingcards/8_of_clubs.png);
}

.nine_clubs {
 background: url(/playingcards/9_of_clubs.png);
}

.ten_clubs {
 background: url(/playingcards/10_of_clubs.png);
}

.jack_clubs {
 background: url(/playingcards/jack_of_clubs.png);
}

.queen_clubs {
 background: url(/playingcards/queen_of_clubs.png);
}

.king_clubs {
 background: url(/playingcards/king_of_clubs.png);
}

.ace_hearts {
 background: url(/playingcards/ace_of_hearts.png);
}

.two_hearts {
 background: url(/playingcards/2_of_hearts.png);
}

.three_hearts {
 background: url(/playingcards/3_of_hearts.png);
}

.four_hearts {
 background: url(/playingcards/4_of_hearts.png);
}

.five_hearts {
 background: url(/playingcards/5_of_hearts.png);
}

.six_hearts {
 background: url(/playingcards/6_of_hearts.png);
}

.seven_hearts {
 background: url(/playingcards/7_of_hearts.png);
}

.eight_hearts {
 background: url(/playingcards/8_of_hearts.png);
}

.nine_hearts {
 background: url(/playingcards/9_of_hearts.png);
}

.ten_hearts {
 background: url(/playingcards/10_of_hearts.png);
}

.jack_hearts {
 background: url(/playingcards/jack_of_hearts.png);
}

.queen_hearts {
 background: url(/playingcards/queen_of_hearts.png);
}

.king_hearts {
 background: url(/playingcards/king_of_hearts.png);
}

.ace_spades {
 background: url(/playingcards/ace_of_spades.png);
}

.two_spades {
 background: url(/playingcards/2_of_spades.png);
}

.three_spades {
 background: url(/playingcards/3_of_spades.png);
}

.four_spades {
 background: url(/playingcards/4_of_spades.png);
}

.five_spades {
 background: url(/playingcards/5_of_spades.png);
}

.six_spades {
 background: url(/playingcards/6_of_spades.png);
}

.seven_spades {
 background: url(/playingcards/7_of_spades.png);
}

.eight_spades {
 background: url(/playingcards/8_of_spades.png);
}

.nine_spades {
 background: url(/playingcards/9_of_spades.png);
}

.ten_spades {
 background: url(/playingcards/10_of_spades.png);
}

.jack_spades {
 background: url(/playingcards/jack_of_spades.png);
}

.queen_spades {
 background: url(/playingcards/queen_of_spades.png);
}

.king_spades {
 background: url(/playingcards/king_of_spades.png);
}

.ace_diamonds {
 background: url(/playingcards/ace_of_diamonds.png);
}

.two_diamonds {
 background: url(/playingcards/2_of_diamonds.png);
}

.three_diamonds {
 background: url(/playingcards/3_of_diamonds.png);
}

.four_diamonds {
 background: url(/playingcards/4_of_diamonds.png);
}

.five_diamonds {
 background: url(/playingcards/5_of_diamonds.png);
}

.six_diamonds {
 background: url(/playingcards/6_of_diamonds.png);
}

.seven_diamonds {
 background: url(/playingcards/7_of_diamonds.png);
}

.eight_diamonds {
 background: url(/playingcards/8_of_diamonds.png);
}

.nine_diamonds {
 background: url(/playingcards/9_of_diamonds.png);
}

.ten_diamonds {
 background: url(/playingcards/10_of_diamonds.png);
}

.jack_diamonds {
 background: url(/playingcards/jack_of_diamonds.png);
}

.queen_diamonds {
 background: url(/playingcards/queen_of_diamonds.png);
}

.king_diamonds {
 background: url(/playingcards/king_of_diamonds.png);
}