body{
	color:white;
	text-align:left;
}

h1,h2,h3{
	color:white;
	clear:both;
}
h1{
	font-size:42px;
}


#lobbyHeading{
	text-align:center;
}

.leftbox{
	float:left;
	width:380px;
	padding:10px;
	position: absolute;
	left:20px;
	top:30px;
	box-shadow: 10px 10px 20px 20px black;
	background:black;
}
.rightbox{
    padding: 10px;
    background: black;
    box-shadow: 10px 10px 20px 3px black;
    margin-top: -12px;
    text-align: center;
    margin-bottom: 100px;
}

img.frontimg{
	width:100%;
	margin-top: -9px;
	min-height: 450px;
    border: 1px solid black;
    box-shadow: 10px 10px 20px 3px black;
}

#loginContainer{
	display:none;
	max-width:1024px;
	margin:auto;
	position:relative;
	font-size:26px;
}
ul{
	text-align:left;
}
button#login{
	width: 285px;
    height: 55px;
    font-size: 31px;
    background: cadetblue;
}
.lobbyContainer{
	display:none;
	max-width:660px;
	min-height:300px;
	background:#111;
	margin:auto;
	border-radius:8px;
	border:1px solid #0C8BB9;
	color:white;
	padding:20px;
}

.roomSelector{
	min-height:280px;
	border-radius:8px;
}

.createRoom{
	display:none;
	padding:0px 20px 20px;
	max-width:660px;
	background:#111;
	margin:auto;
	border-radius:8px;
	border:1px solid #0C8BB9;
	color:white;
}
.createRoom table{
	min-width:300px;
}
.createRoom table tr{
	line-height:26px;
}

.delete{background:#631a1a;}
.delete:hover{background:#e41d1d;}
table.roomsTable{
	text-transform: capitalize;
}

.lobbyContainer table{
	width:100%;
	text-align: left;
	border-collapse: collapse;
}
table th{
	font-weight: bold;
	border-collapse: collapse;
	border-bottom:1px solid #0C8BB9;
}
table tr{
	line-height: 38px;
}
