
      body { 
        background: #ECEFF1;

        background: url("imgs/tables_and_carpet/carpet_blue.png");
        background-size: cover;
        

        color: rgba(0,0,0,0.87); 
        font-family: 'Titillium Web', sans-serif;
        
        margin: 0; 
        padding: 0; 
      }
      #message { background: white; max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
      #message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
      #message, #message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }

      #container{
        width: 1024px;
        margin:auto auto 100px;
        /*background: url("imgs/tables_and_carpet/carpet_blue.png");
        background-size: contain;*/
      }

      #userinfowrapper {
        width: 100%;
        background-color: #000;
        color: #fff;
        font-size: 14px;
        height: 64px;
        padding: 2px 0px;
      }
      #topmenu {
          margin: auto;
          max-width: 980px;
          padding:5px 0;
      }
      .userinfo{
        float:right;
      }
      #logo{
        float:left;
      }
      #logout {
        margin-left: 22px;
      }
      #logout {
          color: #fff;
          text-decoration: none;
      }
      #logout:hover {
          text-decoration: underline;
          cursor: pointer;
      }
      .returnToLobby{position: absolute;left:20px; top:90px;}
      
      #userControls{
        text-align: left;
        padding: 10px;
        padding-left: 265px;
        clear:both;
      }
      #userControls button{
        padding:10px 24px;
        border:none;
        font-size:18px;
        border-radius: 20px;
      }
      #fold{
        background-color: #E31D1D;
        color: white;
      }
      #check,#bet, #call{
        display:none;
        background-color:darkorange;
      }
      #call{
        margin:0px 5px;
      }
      .player.playerToTalk{
        border:3px solid yellow;
        padding-bottom: 30px;
      }

      .desk{
        top:30px;
        left:300px;
        position:absolute;
      }
      #profile{width:50%; float:left;}
      #rooming{width:50%; float:left;}
      .card{
        float:left;
        margin: 10px 5px;
        width:67px;
        height: 97px;
        background-size: cover;
      }

      .flop{
        width: 235px;
        height: 120px;
        position:absolute;
      }
      #seats {
        padding: 4px;
        margin-top: 30px;
        /*background-color: yellow;*/
        clear: both;
        position: relative;
      }
      .seatrow {
        display: flex;
        /*background-color: blue;*/
        height: 100px;

      }
      #row1, #row3 {
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
        height: 230px;
      }
      #row2 {
        justify-content: space-between;
        height: 160px;
      }
      #row3{
        margin-top:35px;
      }
      .player {
        margin: 4px;
        height: 120px;
        width: 135px;
        text-align: center;
        font-weight: normal;
        font-size: 13px;
      }

      .dealer:after {
          content: " (D)";
          font-weight: bold;
      }

      .player .name {
        background-color: #1d496c;
        color: white;
        padding: 3px 0px 2px;
      }

      .dealer.name {
          background-color: blueviolet;
      }

      #player1 {
        margin-top:-20px;
      }

      #player2 {
        margin-top:-20px;
      }

      #player3,#player10 {
        margin-top:50px;
      }

      #player4 {
        padding-top: 0;
      }

      #player5, #player8 {
        
          margin-top: 15px;
      }

      #player6 {
        padding-top: 92px;
      }

      #player7 {
        padding-top: 92px;
      }


      #player9 {
        
        padding-top: 0;
      }


      .playercards {
        height: 78px;
        width: 125px;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        border: 1px solid #131134;
        padding: 4px;
        display: flex;
        justify-content: center;
        position: relative;
        background-color: #001a33;
      }
    .playercards .infotext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        color: #fff;
        display: none;
        font-size: 16px;
        padding-top: 30px;
        background: rgba(0, 0, 0, .6);
    }
    .playercards .descr{
      height: 22px;
      background:rgb(95, 158, 160);
      position: absolute;
      bottom: 0;
      padding: 2px 0;
      color:white;
      width: 100%;
      display:none;
    }
    .playercards .winner{
      background-color:#efcc00;
      color:black;
    }

      .playercards .playercard1,
      .playercards .playercard2 {
          /*background-image: url("/playingcards/10_of_clubs.png");*/
          background-size: cover;
          background-repeat: no-repeat;
          width: 60px;
          height: 88px;

      }

      .playercards .playercard1 {
          margin-right: 4px;
      }


      .player.nocards .playercards {
        background: none;
      }
      .balance{
        clear: both;
        height: 22px;
        width: 100%;
        background: #001A33;
        color: white;
        position: absolute;
        bottom: -18px;
        left: -1px;
        border: 1px solid #131134;
        border-top: 0;
        font-size: 14px;
      }
      .player[data-pid] .balance.allin{
          background: orange;
          color: black;
          font-weight: bold;
          animation: blink 0.8s alternate infinite;
      }
      @keyframes blink {
          from { background: orange; }
          to { background: yellow; }
      }
      
      .player[data-pid] .thisRoundSumBets:not(:empty):after,
      .player[data-pid] .balance:not(:empty):after{
        content: " kr";
      }
      .player[data-pid] .balance.allin:after{
          content: "";
      }
      .player[data-pid] .thisRoundSumBets:not(:empty):before{
        content: "Sum round: ";
      }
      .thisRoundBet{
        clear: both;
        width: 70px;
        background: darkcyan;
        color: white;
        position: absolute;
        bottom: -68px;
        left: 80.1px;
        z-index: 100;
        font-size: 20px;
        border-radius: 100px;
      }
      .thisRoundSumBets{
        position: absolute;
        float: left;
        width: 135px;
        background: white;
        font-size: 14px;
        height: 22px;
        bottom: -40px;
      }

      #currentTable {
        background: url("imgs/tables_and_carpet/table_2_blue.png");
        background-size: 675px;
        width:670px; 
        height:380px; 
        clear:both; 
        margin-top:20px;
        border-radius: 182px;
        position: absolute;
        top: 124px;
        left: 170px;
      }
      #currentTable h3{
        display:none;
        color:white;
        margin-left:100px;
      }
      .cbetContainer{
        position:absolute;
        left:380px;
        top:38px;
        padding: 3px;
        color: white;
        font-size: 20px;
        line-height: 20px;
        color:white;
      }
      .potContainer{
        width: 70px;
        position: absolute;
        left: 220px;
        top: 38px;
        padding: 3px;
        color:white;
        font-size:20px;
        line-height:20px;
      }
      .cbetContainer .currentBet,
      .potContainer .pot{
        display:block;
        font-weight: 200;
      }
      .cbetContainer .currentBet:after {
          content: " kr"
      }
      .pot:after {
        content: " kr"
      }
      .duken{
        left: 130px;
        position: relative;
        top:108px;
        width: 375px;
        height:120px;
      }
      #nextCard{
        display: none;
        clear: both;
        float: left;
        margin:20px 0px 0px 220px;
        font-size: 18px;
        padding: 8px 24px;
        position: absolute;
        top:245px;
        display: inline-block;
        background: #FCE6A6;
        border-radius: 20px;
        color: black;
      }
      #playersAtTable{
        float:left;
      }
      #turn{
        position: absolute;
        left: 260px;
      }
      #river{
        position: absolute;
        left: 342px;
      }

      #userfunctions {
          padding-top: 30px;
          margin: auto;
          display: flex;
          justify-content: center;
      }
      .userfunction {
        width: 154px;
        height: 132px;
        border: 3px solid #fff;
          border-radius: 6px;
        text-align:center;
        position: relative;
          background-color: #1d496c;
          padding: 0px 20px 0 20px;
      }

      .userfunction .card {
          margin-top: 4px;
      }
      .userfunction .mycards {
          color: #fff;
          font-weight: bold;
          font-size: 18px;
      }
      #myCardCurrentStatus{
        background-color:rgb(95, 158, 160);
        color: #fff;
        /*overflow: hidden;*/
        height: 16px;
        width: 100%;
        padding: 4px 0 10px 0;
        position: absolute;
        bottom: 0;
          left: 0;
      }
      .active {
        border: 1px solid black;
      }
      #admin{
        display:none;
        margin: 20px auto 101px;
        max-width: 770px;
        background-color: #131134;
        min-height: 100px;
        padding: 20px;
        color: white;
        position: absolute;
        box-shadow: 0px 0px 15px 5px black;
        left: 0;
        z-index: 101;
        top: 48px;
      }
      #admin button{
        background-color: teal;
        border-radius: 10px;
        border: 1px solid black;
        padding: 3px 15px;
        cursor: pointer;
        color: white;
        font-weight: 400;
        font-size: 14px;
      }
      #admin #winner b{
        vertical-align: top;
      }
      #admin textarea#log{
        width:100%;
        min-height:200px;
        background-color:black;
        color:lightgreen;
      }
      .adminTool{
        margin-bottom:10px;
      }
      #adminBtn{
        display:none;
        position:absolute;
        left:10px;
        top:10px;
        cursor:pointer;
      }
      #game{display:none;}
      
      .thisRoundBet{color:white;}
      .white{background-color:white;color:black;}
      .green{background-color:green; color:white;}
      .red{background-color:red;color:white;}
      .blue{background-color:blue;}
      .black{background-color:black;}
      .thisRoundBet.folded {display:none;}

      a[role="button"],
      button{
        display:inline-block;
        padding:0.35em 1.2em;
        border:none;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        color:#fff;
        background-color:#0C8BB9;
        text-align:center;
        transition: all 0.2s;
        cursor: pointer;
      }
      button:hover{
        background-color:#053958;
        color:white;
      }

      .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 4px;
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }

      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }