body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      #message { background: white; max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
      #message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
      #message, #message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }
      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }
      #container{max-width: 900px; margin:auto;}

      #userinfowrapper {
          width: 100%;
          background-color: #000;
          color: #fff;
          padding: 2px;
          font-size: 14px;
          text-align: right;
      }
      #logout {
        margin-left: 22px;
      }
      #logout {
          color: #fff;
          text-decoration: none;
      }
      #logout:hover {
          text-decoration: underline;
          cursor: pointer;
      }
      #userinfo {
          margin: auto;
          max-width: 980px;

      }

      #profile{width:50%; float:left;}
      #rooming{width:50%; float:left;}
      .card{
        float:left;
        margin:10px 10px;
        width:72px;
        animation-name: appearcard;
        animation-duration: 1s;
      }
      @keyframes appearcard {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      .flop{
        border: 1px solid white;
        margin-right: 20px;
        width: 280px;
        height: 120px;
        float: left;
      }
      #activePlayers li,
      #roomlist li{
        color:blue;
        cursor:pointer;
      }
      #seats {
        padding: 4px;
        /*background-color: yellow;*/
        clear: both;
        position: relative;
      }
      .seatrow {
        display: flex;
        /*background-color: blue;*/
        height: 100px;

      }
      #row1, #row3 {
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
        height: 180px;
      }
      #row2 {
        justify-content: space-between;
        height: 160px;
      }
      .player {
        margin: 4px;
        /*background-color: gray;*/
        height: auto;
        width: 140px;
        text-align: center;
        font-weight: bold;
        padding-top: 80px;
      }

      .dealer {
        color: blueviolet;
      }

      #player1 {
        padding-top: 22px;
      }

      #player2 {
        padding-top: 22px;
      }

      #player3 {
        transform: rotate(45deg);
      }

      #player4 {
        transform: rotate(90deg);
        padding-top: 54px;
      }

      #player5 {
        transform: rotate(135deg);
      }

      #player6 {
        padding-top: 74px;
      }

      #player7 {
        padding-top: 74px;
      }

      #player8 {
        transform: rotate(-135deg);
      }

      #player9 {
        transform: rotate(-90deg);
        padding-top: 54px;
      }

      #player10 {
        transform: rotate(-45deg);

      }

      .playercards {
        height: 56px;
        width: 78px;
        /*background-color: red;*/
        background-image: url("/bicyclecards.jpg");
        background-size: cover;
        margin: auto;
        border: 1px solid gray;
      }

      .player.nocards .playercards {
        background: none;
      }

      #currentTable {
        background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
        background-color:rgb(7, 99, 36);
        width:620px; border:6px solid black; min-height:300px; clear:both; margin-top:20px;border-radius: 182px;
        position: absolute;
        top: 88px;
        left: 134px;
      }
      #currentTable h3{
        color:white;
        margin-left:100px;
      }
      .duken{
        margin-left: 70px;
        margin-top: 35px;
      }
      #nextCard{
        display: none;
        clear: both;
        float: left;
        margin:20px 0px 0px 220px;
        font-size: 18px;
        padding: 8px;
      }
      #playersAtTable{
        float:left;
      }
      #userCards{
        width: 185px;
        height: 200px;
        margin: 20px auto 100px auto;
        border: 1px dotted black;
        clear:both;
        text-align:center;
      }
      .active {
        border: 1px solid black;
      }
      #admin{display:none;}
      #game{display:none;}